.slider {
  width: 80%;
  margin: auto;
}

.sliderHeading {
  margin: 10px 0;
}

.carousel {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card {
  display: flex;
  text-align: left;
}

.sliderCard {
  cursor: pointer;
  margin: 5%;
  text-align: left;
}

.sliderCard img {
  width: 100%;
  height: 180px;
}

.vehicleTitle {
  color: var(--blue);
  font-weight: 500;
  margin-top: 5px;
}

.vehiclePrice {
  color: var(--green);
}

.vehicleLocation {
  color: gray;
}

.card .sliderCard {
  cursor: pointer;
  margin: 1%;
}

.react-multiple-carousel__arrow--right {
  right: calc(4% + -38px);
  background-color: #ff0000;
}

.react-multiple-carousel__arrow--left {
  background-color: #ff0000;
  left: calc(4% + -38px);
}
.react-multiple-carousel__arrow--right:hover,
.react-multiple-carousel__arrow--left:hover {
  background-color: green;
}
